To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take Arms against a Sea of troubles,
And by opposing end them.

Бути чи не бути, ось у чому питання:
Чи благородніше в душі витерпіти
Гострі зневаги та удари долі жорстокої,
Або зброїться проти моря клопотів
І густою ристкою їх завершити.