To be, or not to be: that is the question. 
Бути чи не бути: ось у чому питання.